<html>
<head>
<title>Welcome to ansible</title>
</head>
<body>
<h1>Thank you for choosing the Gold Package.</h1>
<p>If you can see this, Ansible successfully installed nginx.</p>

<p>This is Webserver: <?php echo gethostname(); ?></p>

<p>{{ ansible_managed }}</p>
</body>
</html>
